{% extends "PublicBundle::Layouts/mainLayout.html.twig" %}

{% block pageLevelPluginsStyle %}
    <link rel="stylesheet" href="{{ asset(GLOBAL~'plugins/bootstrap-fileinput/bootstrap-fileinput.css') }}" type="text/css" />
{% endblock %}

{% block pageLevelStyles %}
    <link rel="stylesheet" href="{{ asset(PAGES~'css/profile.min.css') }}" type="text/css" />
{% endblock %}

{% block content %}
<!-- BEGIN PAGE BASE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet bordered">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="{{ asset(AVATARS~app.user.avatar|default('avatar.png')) }}" class="img-responsive" alt=""> </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name"> {{ app.user.username|default('') }} </div>
                    <div class="profile-usertitle-job"> Developer </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                {#<!-- SIDEBAR BUTTONS -->#}
                {#<div class="profile-userbuttons">#}
                    {#<button type="button" class="btn btn-circle green btn-sm"> Follow </button>#}
                    {#<button type="button" class="btn btn-circle red btn-sm"> Message </button>#}
                {#</div>#}
                {#<!-- END SIDEBAR BUTTONS -->#}
                <!-- PORTLET MAIN -->
                <div class="row list-separated profile-stat">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> 37 </div>
                        <div class="uppercase profile-stat-text"> Projects </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> 51 </div>
                        <div class="uppercase profile-stat-text"> Tasks </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> 61 </div>
                        <div class="uppercase profile-stat-text"> Uploads </div>
                    </div>
                </div>
                <!-- END PORTLET MAIN -->
            </div>
            <!-- END PORTLET MAIN -->
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
    </div>
</div>
<!-- END PAGE BASE CONTENT -->
{#<div class="fos_user_user_show">#}
    {#<p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>#}
    {#<p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>#}
{#</div>#}
{% endblock %}

{% block pageLevelPluginsScript %}
    <script src="{{ asset(GLOBAL~'plugins/bootstrap-fileinput/bootstrap-fileinput.js') }}" type="text/javascript"></script>
    <script src="{{ asset(GLOBAL~'plugins/jquery.sparkline.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset(GLOBAL~'plugins/gmaps/gmaps.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block pageLevelScripts %}
    <script src="{{ asset(PAGES~'pages/scripts/profile.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset(PAGES~'scripts/timeline.min.js') }}" type="text/javascript"></script>
{% endblock %}
