{% extends "PublicBundle:Emails:baseEmail.html.twig" %}

{% block emailContent %}
<p>请点击下方按钮来重置您的密码</p>
<a href="http://zyj.maxwhale.cn{{ path('verifyToken') }}?token={{ token }}&type={{ validType }}" class="btn">前往重置</a>
<p>若按钮无法点击，请点击该链接或将链接复制到浏览器地址栏进行访问</p>
<a href="http://zyj.maxwhale.cn{{ path('verifyToken') }}?token={{ token }}&type={{ validType }}">http://zyj.maxwhale.cn{{ path('verifyToken') }}?token={{ token }}&type={{ validType }}</a>
<p>若您点击上述链接，提示已过期，请重新发起重置密码的申请，感谢您的配合与支持！</p>
{% endblock %}
