{# IMPORT TWIG MACRO #}
{%- import "PublicBundle::Modules/Macros/forms.html.twig" as forms -%}
{%- import "PublicBundle::Modules/Macros/layouts.html.twig" as layouts -%}
{%- import "PublicBundle::Modules/Macros/metronic.html.twig" as metronic -%}

{%- use "PublicBundle::Modules/Blocks/stylesheets.html.twig" -%}
{%- use "PublicBundle::Modules/Blocks/header.html.twig" -%}
{%- use "PublicBundle::Modules/Blocks/footer.html.twig" -%}
{%- use "PublicBundle::Modules/Blocks/javascripts.html.twig" -%}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{{ asset("bundles/public/images/logo.ico") }}">
    <title>{% block title %}{{ title|default("") }}{{ GLOBAL_TITLE_CH }}{% endblock %}</title>
    {{- block("baseStylesheets") -}}
</head>

{% block body %}
<body class="page-container-bg-solid page-sidebar-closed-hide-logo page-header-fixed page-sidebar-fixed page-footer-fixed">
    {{- block("mainHeader") -}}
    <div class="clearfix"></div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        {%- set menu = knp_menu_get("sidebar", [], {"role": app.user.roles}) -%}
        {{- knp_menu_render(menu, {"template": "PublicBundle::Modules/Menus/sidebarMenu.html.twig", "currentClass": "active", "ancestorClass": "start active open"}) -}}
        <div class="page-content-wrapper">
            <div class="page-content">
                {% block contentHeader %}{{- block("pageHeader") -}}{% endblock %}
                <div id="content-body">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTAINER -->
{% endblock %}

{% block footer %}{{- block("mainFooter") -}}{% endblock %}

{{- block("baseJavascripts") -}}
</body>
</html>
