{% extends "PublicBundle::Layouts/baseLayout.html.twig" %}

{% use "PublicBundle::Modules/Blocks/header.html.twig" %}

{% block themeLayoutStyles %}
    <link rel="stylesheet" href="{{ asset(LAYOUTS~'layout4/css/layout.min.css') }}"  type="text/css" />
    <link rel="stylesheet" href="{{ asset(LAYOUTS~'layout4/css/themes/light.min.css') }}" type="text/css" id="style_color" />
    <link rel="stylesheet" href="{{ asset(LAYOUTS~'layout4/css/custom.min.css') }}" type="text/css" />
{% endblock %}

{% block body %}
<body class="page-container-bg-solid page-sidebar-closed-hide-logo page-header-fixed page-sidebar-fixed page-footer-fixed">
    {{ block('mainHeader') }}
    <div class="clearfix"></div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        {% set menu = knp_menu_get('sidebar', [], {'role': app.user.roles}) %}
        {{ knp_menu_render(menu, {'template': 'PublicBundle::Modules/Menus/sidebarMenu.html.twig', 'currentClass': 'active', 'ancestorClass': 'start active open'}) }}
        <div class="page-content-wrapper">
            <div class="page-content">
                {% block contentHeader %}
                    {{ block('pageHeader') }}
                {% endblock %}
                <div id="content-body">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTAINER -->
{% endblock %}

{% block themeLayoutScripts %}
    <script src="{{ asset(LAYOUTS~'layout4/scripts/layout.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset(LAYOUTS~'layout4/scripts/demo.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset(LAYOUTS~'global/scripts/quick-sidebar.min.js') }}" type="text/javascript"></script>
{% endblock %}
