{% extends "PublicBundle::Layouts/baseLayout.html.twig" %}

{% use "PublicBundle::Modules/Plugins/colorPick.html.twig" %}
{% use "PublicBundle::Modules/Plugins/Clipboard.html.twig" %}

{% block pagePluginsStyles %}{{ block("CPPluginsStyles") }}{% endblock %}

{% block pageStyles %}
    <link rel="stylesheet" href="{{ asset(SHELF_CSS~route|replace({"_": "/", "_Model": "_Model"})~".css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset(SHELF_CSS~"shelfContent.css") }}" type="text/css" />
{% endblock %}

{% block stylesheets %}
    <style>
        .tabbable-line>.tab-content{ padding:10px 0; }
        .form-group.form-md-line-input{ margin: 0px; }
        .padding-top{ padding-top:0px !important; }
        .code-textarea{ height:310px; }
    </style>
{% endblock %}

{% macro preview(titleAnchor, textAnchor, cate) %}
    <div class="col-md-6">
        <div class="form-group form-md-line-input form-md-floating-label {{ cate }}-textarea">
            {% if cate and cate|slice(3, 5) == "Title" %}
            <textarea id="{{ titleAnchor }}" class="form-control no-resize cursor-default" rows="1" readonly>标题</textarea>
            {% endif %}
            <textarea id="{{ textAnchor }}" class="form-control no-resize cursor-default" rows="15" readonly>
数字：0123456789
小写字母：abcdefghijklmnopqrstuvwxyz
大写字母：ABCDEFGHIJKLMNOPQRSTUVWXYZ
常用中文符号：￥。，：；“”‘’（）
常用英文符号：$ . , : ; " " ' ' ( )
注意事项：当前所展示的前端样式，并不能保证与在天猫/京东上的样式一致。天猫/京东会过滤某些样式，实际以天猫/京东上显示为准。</textarea>
            <label for="{{ titleAnchor }}"> 预览 </label>
        </div>
    </div>
{% endmacro %}
{% macro styleForm(metronic, self, cate, active) %}
    <div class="tab-pane {{ cate }}-tab {{ active|default("fade") }}">
        <form role="form" data-cate="{{ cate }}">
            <input type="text" class="display-hide" name="cate" value="{{ cate }}">
            <div class="form-body">
                <div class="col-md-6">
                    {% if cate and cate|slice(3, 5) == "Title" %}
                        {{ metronic.floatingInput("标题", cate~"-title", "", "title") }}
                    {% endif %}
                    {{ metronic.floatingInput("字体大小", cate~"-size", "", "size") }}
                    {{ metronic.floatingInput("字体族科", cate~"-family", "", "family") }}
                    {{ metronic.colorPick("字体颜色", cate~"-font-color", "color", "A7292F") }}
                    <div class="form-group form-md-checkboxes">
                        <label> 常用样式 </label>
                        <div class="md-checkbox-inline">
                            {{ metronic.floatingCheckbox("粗体", cate~"-weight", "weight", "bold") }}
                            {{ metronic.floatingCheckbox("斜体", cate~"-italic", "italic", "italic") }}
                        </div>
                        <div class="md-radio-inline">
                            {{ metronic.floatingRadio("中划线", cate~"-line-through", "line", "line-through") }}
                            {{ metronic.floatingRadio("没有", cate~"-line-none", "line", "none", "ture") }}
                        </div>
                    </div>
                    <button type="button" class="btn dark btn-outline style-use-btn"> 使用 </button>
                </div>`
                {{ self.preview(cate~"-title-preview", cate~"-text-preview", cate) }}
            </div>
        </form>
    </div>
{% endmacro %}

{% block content %}
    {% import _self as self %}
    <div class="portlet light">
        <div class="portlet-body">
            <div id="shelf" style="overflow:auto;">
                <div class="row">
                    <div class="portlet light shelf-div fl">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="iconfont icon-shelf font-size-18"></i>
                                <span class="caption-subject bold uppercase"> 货架样式</span>
                            </div>
                            <div class="actions">
                                <button class="btn btn-circle green-jungle add-all-btn">
                                    <i class="iconfont icon-plus font-size-16"></i> 全部添加 </button>
                                <button class="btn btn-circle yellow-crusta delete-all-btn">
                                    <i class="iconfont icon-trash font-size-16"></i> 全部移除 </button>
                            </div>
                        </div>
                        <div class="portlet-body shelf-data shelf-new-data">
                        </div>
                        <div class="shelf-code-data display-hide"></div>
                    </div>
                    <div class="portlet light shelf-div fr">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="iconfont icon-content font-weight-bold"></i>
                                <span class="caption-subject bold uppercase"> 货架数据</span>
                            </div>
                        </div>
                        <div class="portlet-body shelf-data shelf-old-data">
                            {% block shelfContent %}{% endblock %}
                        </div>
                    </div>
                    <div class="shelf-tmp display-hide"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- display-model-modal -->
    <div class="modal fade bs-modal-lg" id="display-model-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"> 获取模板 </h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal"> 关闭 </button>
                </div>
            </div>
        </div>
    </div>

    <!-- general-settings-modal -->
    <div class="modal fade bs-modal-lg" id="general-settings-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="tabbable-line tabs-below">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <ul class="nav nav-tabs">
                            {{ layouts.liTabPane("create-code-tab", "edit", "生成代码", "active") }}
                            {{ layouts.liTabPane("edit-style-tab", "spanner", "设置样式") }}
                            {{ layouts.liTabPane("set-tag-tab", "tag", "设置标签") }}
                            {{ layouts.liTabPane("add-screen-tab", "screen", "添加通屏") }}
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane create-code-tab active">
                                <div style="height:350px;">
                                    <div class="row">
                                        <textarea class="form-control code-textarea no-resize" rows="18"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane edit-style-tab">
                                <div style="height:350px;">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <ul class="nav nav-tabs tabs-left">
                                            {{ layouts.liTabPane("actTitle-tab", "", "活动标题", "active") }}
                                            {{ layouts.liTabPane("actPrice-tab", "", "活动价格") }}
                                            {{ layouts.liTabPane("couTitle-tab", "", "优惠标题") }}
                                            {{ layouts.liTabPane("couPrice-tab", "", "优惠价格") }}
                                            {{ layouts.liTabPane("tagTitle-tab", "", "吊牌标题") }}
                                            {{ layouts.liTabPane("tagPrice-tab", "", "吊牌价格") }}
                                            {{ layouts.liTabPane("other-color-tab", "", "其他颜色") }}
                                        </ul>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <div class="tab-content">
                                            {{ self.styleForm(metronic, self, "actTitle", "active in") }}
                                            {{ self.styleForm(metronic, self, "actPrice") }}
                                            {{ self.styleForm(metronic, self, "couTitle") }}
                                            {{ self.styleForm(metronic, self, "couPrice") }}
                                            {{ self.styleForm(metronic, self, "tagTitle") }}
                                            {{ self.styleForm(metronic, self, "tagPrice") }}
                                            <div class="tab-pane other-color-tab fade">
                                                <p>7</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane set-tag-tab">
                                <div style="height: 200px;">
                                    <h4> 设置标签 </h4>
                                </div>
                            </div>
                            <div class="tab-pane add-screen-tab">
                                <div style="height: 200px;">
                                    <h4> 添加通屏 </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="tab-content">
                        <div class="tab-pane active create-code-tab">
                            <button type="button" class="btn dark btn-outline copy-code-btn" data-clipboard-target=".code-textarea"> 复制代码 </button>
                            <button type="button" class="btn dark btn-outline" data-dismiss="modal"> 关闭 </button>
                        </div>
                        <div class="tab-pane edit-style-tab">
                            <button type="button" class="btn dark btn-outline" data-dismiss="modal"> 关闭 </button>
                        </div>
                        <div class="tab-pane set-tag-tab">
                            <button type="button" class="btn dark btn-outline" data-dismiss="modal"> 关闭 </button>
                        </div>
                        <div class="tab-pane add-screen-tab">
                            <button type="button" class="btn dark btn-outline" data-dismiss="modal"> 关闭 </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagePluginsScripts %}
    {{ block("ClipPluginsScripts") }}
    {{ block("CPPluginsScripts") }}
{% endblock %}

{% block pageScripts %}
    <script src="{{ asset(SHELF_JS~"shelfContent.js") }}" type="text/javascript"></script>
{% endblock %}

{% block javascripts %}
    {{ block("ClipJavascripts") }}
    {{ block("CPJavascripts") }}
    <script type="text/javascript">
        var ClipBtn = ".copy-code-btn";
        var lineNum = {{ model.lineNum|default(3) }};
        $(function(){
            $(document).on("click", ".style-use-btn", function () {
                var form = $(this).closest("form");
                var cate = form.attr("data-cate");
                setPersonalStyle(form, cate);
                
                $.ajax({
                    url: "{{ path("setShelfUserDataAjax") }}",
                    type: "post",
                    dataType: "json",
                    data: form.serialize(),
                }).done(function (data) {
                    console.log(data);
                }).fail(function () {
                    console.log("未知错误！");
                });
            });
        });
    </script>
{% endblock %}
