{% extends "PublicBundle::Layouts/baseLayout.html.twig" %}

{% use "PublicBundle::Modules/Plugins/colorPick.html.twig" %}
{% use "PublicBundle::Modules/Plugins/Clipboard.html.twig" %}

{% block pagePluginsStyles %}{{ block("CPPluginsStyles") }}{% endblock %}

{% block pageStyles %}
    <link rel="stylesheet" href="{{ asset(SHELF_CSS~route|replace({"_": "/", "_Model": "_Model"})~".css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset(SHELF_CSS~"shelfContent.css") }}" type="text/css" />
{% endblock %}

{% block stylesheets %}
    <style>
        .tabbable-line>.tab-content{ padding:10px 0; }
        .form-group.form-md-line-input{ margin: 0px; }
        .padding-top{ padding-top:0px !important; }
        .code-textarea{ height:310px; }
        .tag-img-div{ text-align:center; }
        .tag-img-div > div{ height:65px; }
        .tag-input-div > div{ height:65px; }
    </style>
{% endblock %}

{% macro preview(titleAnchor, textAnchor, cate) %}
    <div class="col-md-6">
        <div class="form-group form-md-line-input form-md-floating-label {{ cate }}-textarea">
            {% if cate and cate|slice(3, 5) == "Title" %}
            <textarea id="{{ titleAnchor }}" class="form-control no-resize cursor-default" rows="1" readonly>标题</textarea>
            {% endif %}
            <textarea id="{{ textAnchor }}" class="form-control no-resize cursor-default" rows="15" readonly>
数字：0123456789
小写字母：abcdefghijklmnopqrstuvwxyz
大写字母：ABCDEFGHIJKLMNOPQRSTUVWXYZ
常用中文符号：￥。，：；“”‘’（）
常用英文符号：$ . , : ; " " ' ' ( )
注意事项：当前所展示的前端样式，并不能保证与在天猫/京东上的样式一致。天猫/京东会过滤某些样式，实际以天猫/京东上显示为准。</textarea>
            <label for="{{ titleAnchor }}"> 预览 </label>
        </div>
    </div>
{% endmacro %}
{% macro styleForm(metronic, self, cate, value, active) %}
    <div class="tab-pane {{ cate }}-tab {{ active|default("fade") }}">
        <form role="form" data-cate="{{ cate }}">
            <input type="text" class="display-hide" name="cate" value="{{ cate }}">
            <div class="form-body">
                <div class="col-md-6">
                    {% if cate and cate|slice(3, 5) == "Title" %}
                        {{ metronic.floatingInput("标题", cate~"-title", "", "title", value.title) }}
                    {% endif %}
                    {{ metronic.floatingInput("字体大小", cate~"-size", "", "size", value.size) }}
                    {{ metronic.floatingInput("字体族科", cate~"-family", "", "family", value.family) }}
                    {{ metronic.colorPick("字体颜色", cate~"-font-color", "color", value.color) }}
                    <div class="form-group form-md-checkboxes">
                        <label> 常用样式 </label>
                        <div class="md-checkbox-inline">
                            {% if value.weight == "bold" %}{% set checked = "checked" %}{% else %}{% set checked = "" %}{% endif %}
                            {{ metronic.floatingCheckbox("粗体", cate~"-weight", "weight", "bold", checked) }}
                            {% if value.italic == "italic" %}{% set checked = "checked" %}{% else %}{% set checked = "" %}{% endif %}
                            {{ metronic.floatingCheckbox("斜体", cate~"-italic", "italic", "italic", checked) }}
                        </div>
                        <div class="md-radio-inline">
                            {% if value.line == "line-through" %}
                                {% set lineThrough = "checked" %}
                                {% set lineNone = "" %}
                            {% else %}
                                {% set lineThrough = "" %}
                                {% set lineNone = "checked" %}
                            {% endif %}
                            {{ metronic.floatingRadio("中划线", cate~"-line-through", "line", "line-through", lineThrough) }}
                            {{ metronic.floatingRadio("没有", cate~"-line-none", "line", "none", lineNone) }}
                        </div>
                    </div>
                    <button type="button" class="btn dark btn-outline style-use-btn"> 使用 </button>
                </div>
                {{ self.preview(cate~"-title-preview", cate~"-text-preview", cate) }}
            </div>
        </form>
    </div>
{% endmacro %}
{% macro inputRightGroup(title, anchor, value, btnClass, btn) %}
    <div class="form-group form-md-line-input form-md-floating-label has-success">
        <div class="input-group input-group-sm">
            <div class="input-group-control">
                <input type="text" id="{{ anchor }}" class="form-control input-sm" name="{{ anchor }}" value="{{ value|default("") }}">
                <label for="{{ anchor }}"> {{ title }} </label>
            </div>
            <span class="input-group-btn btn-right">
                <button class="btn green-haze {{ btnClass }}" type="button"> {{ btn }} </button>
            </span>
        </div>
    </div>
{% endmacro %}
{% macro screen(self, plat, start, end, active) %}
    <div class="tab-pane {{ plat }}-screen fade {{ active }}" data-plat="{{ plat }}">
        {{ self.inputRightGroup("通屏高度", plat~"-screen-height", 6400, "get-screen-ht-btn", "获取高度") }}
        <div class="form-group form-md-line-input form-md-floating-label">
            <textarea id="{{ plat }}-screen-start" class="form-control no-resize" rows="4" readonly>{{ start }}</textarea>
            <label for="{{ plat }}-screen-start"> 通屏代码开头 </label>
        </div>
        <div class="form-group form-md-line-input form-md-floating-label">
            <textarea id="{{ plat }}-screen-end" class="form-control no-resize" rows="4" readonly>{{ end }}</textarea>
            <label for="{{ plat }}-screen-end"> 通屏代码结尾 </label>
        </div>
        <button type="button" class="btn dark btn-outline mt10 screen-use-btn"> 使用通屏 </button>
    </div>
{% endmacro %}

{% set p = option.personal %}
{% set s = option.shelf %}
{% block content %}
    {% import _self as self %}
    <div class="portlet light">
        <div class="portlet-body">
            <div id="shelf" style="overflow:auto;">
                <div class="row">
                    <div class="portlet light shelf-div fl">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="iconfont icon-shelf font-size-18"></i>
                                <span class="caption-subject bold uppercase"> 货架样式</span>
                            </div>
                            <div class="actions">
                                <button class="btn btn-circle green-jungle add-all-btn">
                                    <i class="iconfont icon-plus font-size-16"></i> 全部添加 </button>
                                <button class="btn btn-circle yellow-crusta delete-all-btn">
                                    <i class="iconfont icon-trash font-size-16"></i> 全部移除 </button>
                            </div>
                        </div>
                        <div class="portlet-body shelf-data shelf-new-data">
                        </div>
                        <div class="shelf-code-data display-hide"></div>
                    </div>
                    <div class="portlet light shelf-div fr">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="iconfont icon-content font-weight-bold"></i>
                                <span class="caption-subject bold uppercase"> 货架数据</span>
                            </div>
                        </div>
                        <div class="portlet-body shelf-data shelf-old-data">
                            {% block shelfContent %}{% endblock %}
                        </div>
                    </div>
                    <div class="shelf-tmp display-hide"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- display-model-modal -->
    <div class="modal fade bs-modal-lg" id="display-model-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"> 获取模板 </h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal"> 关闭 </button>
                </div>
            </div>
        </div>
    </div>

    <!-- general-settings-modal -->
    <div class="modal fade bs-modal-lg" id="general-settings-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="tabbable-line tabs-below">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <ul class="nav nav-tabs">
                            {{ layouts.liTabPane("create-code-tab", "edit", "生成代码", "active") }}
                            {{ layouts.liTabPane("edit-style-tab", "spanner", "设置样式") }}
                            {{ layouts.liTabPane("set-tag-tab", "tag", "设置标签") }}
                            {{ layouts.liTabPane("add-screen-tab", "screen", "添加通屏") }}
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade create-code-tab active in">
                                <div style="height:350px;">
                                    <div class="row">
                                        <textarea class="form-control code-textarea no-resize" rows="18"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade edit-style-tab">
                                <div style="height:350px;">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <ul class="nav nav-tabs tabs-left">
                                            {{ layouts.liTabPane("actTitle-tab", "", "活动标题", "active") }}
                                            {{ layouts.liTabPane("actPrice-tab", "", "活动价格") }}
                                            {{ layouts.liTabPane("couTitle-tab", "", "优惠标题") }}
                                            {{ layouts.liTabPane("couPrice-tab", "", "优惠价格") }}
                                            {{ layouts.liTabPane("tagTitle-tab", "", "吊牌标题") }}
                                            {{ layouts.liTabPane("tagPrice-tab", "", "吊牌价格") }}
                                            {{ layouts.liTabPane("other-color-tab", "", "其他颜色") }}
                                        </ul>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <div class="tab-content">
                                            {{ self.styleForm(metronic, self, "actTitle", p.style.actTitle, "active in") }}
                                            {{ self.styleForm(metronic, self, "actPrice", p.style.actPrice) }}
                                            {{ self.styleForm(metronic, self, "couTitle", p.style.couTitle) }}
                                            {{ self.styleForm(metronic, self, "couPrice", p.style.couPrice) }}
                                            {{ self.styleForm(metronic, self, "tagTitle", p.style.tagTitle) }}
                                            {{ self.styleForm(metronic, self, "tagPrice", p.style.tagPrice) }}
                                            <div class="tab-pane other-color-tab fade">
                                                <form role="form" data-cate="otherColor">
                                                    <input type="text" class="display-hide" name="cate" value="otherColor">
                                                    <div class="form-body">
                                                        <div class="col-md-6">
                                                            {{ metronic.colorPick("主标题颜色", "main-title-color", "mainTitleColor", p.mainTitleColor) }}
                                                            {{ metronic.colorPick("整体背景颜色", "bg-color", "bgColor", p.bgColor) }}
                                                            <button type="button" class="btn dark btn-outline mt10 style-use-btn"> 使用 </button>
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ metronic.colorPick("副标题颜色", "sub-title-color", "subTitleColor", p.subTitleColor) }}
                                                            {{ metronic.colorPick("单个背景颜色", "box-color", "boxColor", p.boxColor) }}
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade set-tag-tab">
                                <div style="height:350px;">
                                    <div class="col-md-6">
                                        <div class="tag-img-div"><img src="{{ option.imgList.saleOut }}" alt="售罄图片" class="cursor-pointer" data-name="saleOut"></div>
                                        <div class="tag-input-div display-hide">
                                            {{ self.inputRightGroup("售罄图片", "saleOut", option.imgList.saleOut, "ch-tag-img-btn", "替换") }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="tag-img-div">
                                            <div><img src="{{ option.imgList.firstImg }}" alt="备用标签1" class="cursor-pointer" data-name="firstImg"></div>
                                            <div><img src="{{ option.imgList.secondImg }}" alt="备用标签2" class="cursor-pointer" data-name="secondImg"></div>
                                            <div><img src="{{ option.imgList.thirdImg }}" alt="备用标签3" class="cursor-pointer" data-name="thirdImg"></div>
                                            <div><img src="{{ option.imgList.fourthImg }}" alt="备用标签4" class="cursor-pointer" data-name="fourthImg"></div>
                                            <div><img src="{{ option.imgList.fifthImg }}" alt="备用标签5" class="cursor-pointer" data-name="fifthImg"></div>
                                        </div>
                                        <div class="tag-input-div display-hide">
                                        {{ self.inputRightGroup("备用标签1", "firstImg", option.imgList.firstImg, "ch-tag-img-btn", "替换") }}
                                        {{ self.inputRightGroup("备用标签2", "secondImg", option.imgList.secondImg, "ch-tag-img-btn", "替换") }}
                                        {{ self.inputRightGroup("备用标签3", "thirdImg", option.imgList.thirdImg, "ch-tag-img-btn", "替换") }}
                                        {{ self.inputRightGroup("备用标签4", "fourthImg", option.imgList.fourthImg, "ch-tag-img-btn", "替换") }}
                                        {{ self.inputRightGroup("备用标签5", "fifthImg", option.imgList.fifthImg, "ch-tag-img-btn", "替换") }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade add-screen-tab">
                                <div style="height:350px;">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <ul class="nav nav-tabs tabs-left">
                                            {{ layouts.liTabPane("tm-screen", "", "天猫通屏", "active") }}
                                            {{ layouts.liTabPane("jd-screen", "", "京东通屏") }}
                                        </ul>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <div class="tab-content">
                                            {{ self.screen(self, "tm", '<div style="height:6400px;"><div class="sn-simple-logo" style="width:1920px;height:6400px;border:none;padding:0;top:auto;left:50%;"><div class="sn-simple-logo" style="width:1920px;height:6400px;border:none;padding:0;top:auto;left:-960px;"><div style="margin:0 auto;">', "</div></div></div></div>", "active in") }}
                                            {{ self.screen(self, "tm", '<div style="width:1920px; height:6400px; background:rgba(255,255,255,1)"><div style=" width:1200px; height:6400px; margin:0 auto;"><div style="margin:0 auto;">', "</div></div></div>") }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="tab-content">
                        <div class="tab-pane create-code-tab active">
                            <button type="button" class="btn dark btn-outline copy-code-btn" data-clipboard-target=".code-textarea"> 复制代码 </button>
                            <button type="button" class="btn dark btn-outline" data-dismiss="modal"> 关闭 </button>
                        </div>
                        <div class="tab-pane edit-style-tab">
                            <button type="button" class="btn dark btn-outline" data-dismiss="modal"> 关闭 </button>
                        </div>
                        <div class="tab-pane set-tag-tab">
                            <button type="button" class="btn dark btn-outline show-tag-img-btn"> 替换 </button>
                            <button type="button" class="btn dark btn-outline" data-dismiss="modal"> 关闭 </button>
                        </div>
                        <div class="tab-pane add-screen-tab">
                            <button type="button" class="btn dark btn-outline" data-dismiss="modal"> 关闭 </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagePluginsScripts %}
    {{ block("ClipPluginsScripts") }}
    {{ block("CPPluginsScripts") }}
{% endblock %}

{% block pageScripts %}
    <script src="{{ asset(SHELF_JS~"shelfContent.js") }}" type="text/javascript"></script>
{% endblock %}

{% block javascripts %}
    {{ block("ClipJavascripts") }}
    {{ block("CPJavascripts") }}
    <script type="text/javascript">
        var lineNum = {{ model.lineNum|default(3) }};
        $(function() {
            // 修改personalShelfData
            $(document).on("click", ".style-use-btn", function () {
                var form = $(this).closest("form");
                var cate = form.attr("data-cate");
                setPersonalStyle(form, cate);

                $.ajax({
                    url: "{{ path("setShelfUserDataAjax") }}",
                    type: "post",
                    dataType: "json",
                    data: form.serialize(),
                }).done(function (data) {
                    toastr.success(data["message"], "提示", {timeOut: "1000"});
                }).fail(function () {
                    toastr.error("未知错误！", "提示");
                });
            });
            // 修改imgList
            $(document).on("click", ".ch-tag-img-btn", function () {
                var input = $(this).closest("div").find("input");

                $.ajax({
                    url: "{{ path("setPersonalTagAjax") }}",
                    type: "post",
                    dataType: "json",
                    data: {"key": input.attr("name"), "value": input.val()},
                }).done(function (data) {
                    $(".tag-img-div img[data-name='" + input.attr("name") + "']").attr("src", input.val());
                    toastr.success(data["message"], "提示", {timeOut: "1000"});
                }).fail(function () {
                    toastr.error("未知错误！", "提示");
                });
            });
            // 使用tag
            $(document).on("click", ".tag-img-div img[data-name!='saleOut']", function () {
                var _this = $(this);
                $(".shelf-data .img-tag").attr("src", _this.attr("src"));
                $.ajax({
                    url: "{{ path("setShelfUserDataAjax") }}",
                    type: "post",
                    dataType: "json",
                    data: {"cate": "imgTag", "value": _this.attr("src")},
                }).done(function () {
                    toastr.success("使用 " + _this.attr("alt") + " 成功！", "提示", {timeOut: "1000"});
                }).fail(function () {
                    toastr.error("未知错误！", "提示");
                });
            });
        });
    </script>
{% endblock %}
