{# Metronic Floating Labels #}
{%- macro input(anchor, type, name, value, placeholder) -%}
    <input type="{{ type|default("text") }}" id="{{ anchor }}" class="form-control" name="{{ name }}" value="{{ value|default("") }}" placeholder="{{ placeholder|default("") }}">
{%- endmacro -%}

{%- macro FlInput(title, anchor, type, name, value, placeholder) %}
    {%- import _self as self -%}
    <div class="form-group form-md-line-input form-md-floating-label">
        {{- self.input(anchor, type, name, value, placeholder) -}}
        <label for="{{ anchor }}"> {{ title }} </label>
    </div>
{%- endmacro -%}

{%- macro msgFlInput(title, anchor, type, name, value, placeholder, message) -%}
    {%- import _self as self -%}
    <div class="form-group form-md-line-input">
        <label class="col-md-3 control-label" for="{{ anchor }}"> {{ title }} </label>
        <div class="col-md-9">
            {{- self.input(anchor, type, name, value, placeholder) -}}
            <div class="form-control-focus"> </div>
            <span class="help-block"> {{ message }} </span>
        </div>
    </div>
{%- endmacro -%}

{%- macro FlCheckbox(title, anchor, name, value, checked) -%}
    <div class="md-checkbox">
        <input type="checkbox" id="{{ anchor }}" class="md-check" name="{{ name }}" value="{{ value }}" {% if checked %}checked{% endif %}>
        <label for="{{ anchor }}">
            <span></span>
            <span class="check"></span>
            <span class="box"></span> {{ title }} </label>
    </div>
{%- endmacro -%}

{%- macro FlRadio(title, anchor, name, value, checked) -%}
    <div class="md-radio">
        <input type="radio" id="{{ anchor }}" class="md-radiobtn" name="{{ name }}" value="{{ value }}" {% if checked %}checked{% endif %}>
        <label for="{{ anchor }}">
            <span></span>
            <span class="check"></span>
            <span class="box"></span> {{ title }} </label>
    </div>
{%- endmacro -%}

{# Must Use ColorPick #}
{%- macro colorPick(title, anchor, name, value) -%}
    <div class="form-group form-md-line-input form-md-floating-label padding-top">
        <label for="{{ anchor }}"> {{ title }} </label>
        <input type="text" id="{{ anchor }}" class="form-control color-pick" name="{{ name }}" value="#{{ value }}" data-position="bottom right" >
    </div>
{%- endmacro -%}

{# Admin Dashboard #}
{%- macro dashboard(name, value, href, icon, color) -%}
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 {{ color }}" href="#">
            <div class="visual">
                <i class="iconfont icon-{{ icon }}"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="{{ value }}">0</span>
                </div>
                <div class="desc"> 总{{ name }}数 </div>
            </div>
        </a>
    </div>
{%- endmacro dashboard -%}