{% extends "PublicBundle::Layouts/baseLayout.html.twig" %}

{% use "PublicBundle::Modules/Plugins/datatable.html.twig" %}

{% block pagePluginsStyles %}{{- block("datatablePluginsStyles") -}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption font-white">
                        <i class="iconfont icon-file font-white font-size-20"></i>
                        <span class="caption-subject bold uppercase">品牌列表</span>
                    </div>
                    <div class="tools">
                        <a href="#add-brand-modal" class="font-white tool-tip" data-toggle="modal" data-placement="top" title="添加品牌"><i class="iconfont icon-plus"></i></a>
                        <a href="javascript:;" class="collapse" data-original-title="折叠/展开"> </a>
                        <a href="javascript:;" class="reload display-none" data-original-title="刷新"> </a>
                        <a href="javascript:;" class="fullscreen" data-original-title="全屏"> </a>
                        <a href="javascript:;" class="remove" data-original-title="移除"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-hover order-column fl shops-list-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>品牌名</th>
                            <th>创建时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%- for brand in brands  -%}
                            <tr>
                                <td>{{ brand.id }}</td>
                                <td>{{ brand.brandname }}</td>
                                <td> {{ brand.createTime.date|date("Y-m-d H:i:s") }} </td>
                                <td>
                                    {%- if brand.active() -%}
                                        {{- forms.btn("xs", "green-meadow", "正常", "cursor-default locked-brand-btn", {"data-locked": "false"}) -}}
                                    {%- else -%}
                                        {{- forms.btn("xs", "red", "锁定", "cursor-default locked-brand-btn", {"data-locked": "true"}) -}}
                                    {%- endif %}
                                </td>
                                <td>
                                    {{- forms.stripeBtn("xs", "green", "编辑", "edit-brand-btn") -}}
                                    {{- forms.stripeBtn("xs", "yellow-gold", "锁定", "locked-brand-btn") -}}
                                </td>
                            </tr>
                        {%- endfor -%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="edit-brand-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"> 编辑品牌 </h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="display-none">
                                    {{- metronic.input("edit-id", "", "id") -}}
                                </div>
                                {{- metronic.FlInput("品牌名", "edit-brandname", "", "brandname", " ") -}}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    {{- forms.outlineBtn("", "dark btn-outline", "修改", "edit-brand-put-btn") -}}
                    {{- forms.closeModalBtn() -}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add-brand-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"> 添加品牌 </h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-md-12">
                                {{- metronic.FlInput("新品牌名", "add-brandname", "", "brandname", "") -}}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    {{- forms.outlineBtn("", "dark btn-outline", "添加", "add-brand-put-btn") -}}
                    {{- forms.closeModalBtn() -}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagePluginsScripts %}{{- block("datatablePluginsScripts") -}}{% endblock %}

{% block javascripts %}
    {{- block("datatableJavascripts") -}}
    <script type="text/javascript">
        var table = datatable($(".shops-list-table"), "asc");
        var state = '{{- forms.btn("xs", "green-meadow", "正常", "cursor-default", {"data-locked": "false"}) -}}';
        var operate = '{{- forms.stripeBtn("xs", "green", "编辑", "edit-brand-btn") -}}{{- forms.stripeBtn("xs", "yellow-gold", "锁定", "locked-brand-btn") -}}';
        $(function(){
            {# Add brand info #}
            $(document).on("click", ".add-brand-put-btn", function () {
                var form = $("#add-brand-modal").find("form");

                $.ajax({
                    url: "{{ path("addBrandAjax") }}",
                    type: "post",
                    dataType: "json",
                    data: form.serialize()
                }).done(function (data) {
                    switch (data["state"]) {
                        case "error":
                            toastr.error(data["message"], "提示"); break;
                        case "success":
                            $("#add-brand-modal").modal("hide");
                            toastr.success(data["message"], "提示");
                            form.find("input").val("");
                            addRow(table, [data["id"], data["brandname"], data["createTime"], state, operate]);
                            break;
                    }
                }).fail(function () {
                    toastr.error("未知错误！请重试！", "提示");
                });
            });
            {# Edit brand info #}
            $(document).on("click", ".edit-brand-btn", function () {
                var td = $(this).closest("tr").find("td");
                var form = $("#edit-brand-modal").modal("show").find("form");
                form.find("#edit-id").val(td.eq(0).html());
                form.find("#edit-brandname").val(td.eq(1).html());
            });
            $(document).on("click", ".edit-brand-put-btn", function () {
                var form = $("#edit-brand-modal").modal("show").find("form");

                $.ajax({
                    url: "{{ path("editBrandAjax") }}",
                    type: "post",
                    dataType: "json",
                    data: form.serialize()
                }).done(function (data) {
                    switch (data["state"]) {
                        case "error":
                            toastr.error(data["message"], "提示");
                            break;
                        case "success":
                            toastr.success(data["message"], "提示");
                            $(".shops-list-table").find("tr").each(function () {
                                if ($(this).find("td").eq(0).html() === form.find("#edit-id").val()) {
                                    $(this).find("td").eq(1).html(form.find("#edit-brandname").val());
                                }
                            });
                            $("#edit-brand-modal").modal("hide");
                            break;
                    }
                }).fail(function () {
                    toastr.error("未知错误！请重试！", "提示");
                });
            });
            {# Lock brand #}
            $(document).on("click", ".locked-brand-btn", function () {
                var td = $(this).closest("tr").find("td");

                $.ajax({
                    url: "{{ path("lockBrandAjax") }}",
                    type: "post",
                    dataType: "json",
                    data: { "id": td.eq(0).html() }
                }).done(function (data) {
                    switch (data["state"]) {
                        case "error":
                            toastr.error(data["message"], "提示"); break;
                        case "success":
                            if (td.eq(3).find("button").attr("data-locked") === "true") {
                                locked = '{{- forms.btn("xs", "green-meadow", "正常", "cursor-default", {"data-locked": "false"}) -}}';
                            } else {
                                locked = '{{- forms.btn("xs", "red", "锁定", "cursor-default", {"data-locked": "true"}) -}}';
                            }
                            table.cell(td.eq(3)).data(locked);
                            toastr.success(data["message"], "提示"); break;
                    }
                }).fail(function () {
                    toastr.error("未知错误！请重试！", "提示");
                });
            });
        })
    </script>
{% endblock %}
