{% extends "PublicBundle::Layouts/datatableLayout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption font-white">
                        <i class="iconfont icon-file font-white"></i>
                        <span class="caption-subject bold uppercase">我的文件</span>
                    </div>
                    <div class="actions">
                        <a href="javascript:;" class="btn btn-default btn-sm">
                            <i class="iconfont icon-upload"></i> 文件上传 </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-hover order-column" id="ant-file-table">
                        <thead>
                            <tr>
                                <th style="width:50px !important;">ID</th>
                                <th style="width:300px !important;">文件名</th>
                                <th style="width:150px !important;">上传时间</th>
                                <th style="width:50px !important;">状态</th>
                                <th style="width:100px !important;">操作</th>
                                <th style="width:300px !important;">功能</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for file in goodsFiles %}
                            <tr>
                                <td>{{ file.id }}</td>
                                <td>{{ file.oldname }}</td>
                                <td>{{ file.uploadTime }}</td>
                                <td>
                                    {% if file.state == 'read' %}
                                        {% set state = 'success' %}
                                        {% set title = '已读' %}
                                    {% elseif file.state == 'unread' %}
                                        {% set state = 'warning' %}
                                        {% set title = '未读' %}
                                    {% elseif file.state == 'wrong' %}
                                        {% set state = 'danger' %}
                                        {% set title = '错误' %}
                                    {% endif %}
                                    <button type="button" class="btn btn-xs btn-{{ state }}">{{ title }}</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-xs default red-stripe">删除</button>
                                    <button type="button" class="btn btn-xs default green-meadow-stripe">下载</button>
                                </td>
                                <td>功能</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function(){
            datatable($('#ant-file-table'));
        });
    </script>
{% endblock %}
